<html align=center>
  <head>
    <h1>Mastermind</h1>
  </head>
  <body bgcolor=#a3c2d9>
    <button onclick="window.location.href = '/game';">Random Key</button>
    <button onclick="window.location.href = '/set_key';"> Custom Key</button>
  </body>
</html>